<!-- Background HTML -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>🗂 McBride's Portfolio</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="portfolio.js"></script>
  </head>
  <body bgcolor="white">

    <div class="title-name" >
      <p class="name">Anthony McBride</p>
      <p class="contact-info">anthonyjmcbride@icloud.com (305) 988-5498</p>

      <!-- social icons -->
      <ul class="social-list">
        <li><a href="https://github.com/anthonyjmcbride" class="fa fa-github" aria-hidden="true"></a></li>
        <li><a href="https://www.linkedin.com/in/anthony-mcbride-32562ba1/" class="fa fa-linkedin" aria-hidden="true"></a></li>
        <li><a href="https://www.facebook.com/AnthonyJamesMcbride" class="fa fa-facebook-official" aria-hidden="true"></a></li>
        <li><a href="https://www.instagram.com/anthonyjmcbride/" class="fa fa-instagram" aria-hidden="true"></a></li>
      </ul>
      <!-- conatct info -->
     <div class="fa fa-angle-down" aria-hidden="true"></div>
    </div>

    <div class="project-div"><h1>Projects</h1></div>
    <!-- project description -->
    <div class="bio-div">
      <div class="parallax-container">
      <p class="bio"><a class="dockit" href="https://github.com/sergt26/DockIT/graphs/contributors">DockIT</a><span class="description">centralized place to view events</span></p>
        <ul class="bio-list">
          <li class="see-tech">APIs(<span class="eventbrite">Eventbrite</span>, <span class="ticketmaster">Ticketmaster</span>) </li><br>
          <li class="see-tech"><span class="ruby">Ruby on Rails</span> <span class="post">PostgreSQL</span></li> <br>
          <li class="see-tech"><span class="html">HTML</span> <span class="css">CSS</span> <span class="js">Javascript</span> <span class="jquery">jQuery</span></li> <br>
          <li class="see-tech">GIT OmniAuth <span class="boot">Bootstrap</span> <a href="https://github.com/anthonyjmcbride" class="github">GitHub</a></li>
          <li class="see-tech">Team project</li>
        </ul>
      </div>

      <div class="parallax-container2">
        <p class="bio2"><a class="design-mockup" href="https://github.com/anthonyjmcbride/PortfolioDraft">Design Mockup</a><span class="description">ecommerce web app</span></p>
          <ul class="bio-list2">
            <li class="see-tech2"><span class="html">HTML</span> <span class="css">CSS</span> <span class="ruby">Ruby on Rails</span></li>
            <li class="see-tech2"><span class="post">PostgreSQL</span></li>
            <li class="see-tech2">Individual project</li>
          </ul>
      </div>
      <div class="parallax-container3">
        <p class="bio3"><a class="blog" href="https://github.com/anthonyjmcbride/blog_app">Blog</a> + <a class="url" href="https://github.com/anthonyjmcbride/urlshortnr">URL Shortener</a></p><br>
          <ul class="bio-list3">
            <li class="see-tech3"><span class="ruby">Ruby on Rails</span></li>
            <li class="see-tech3"><span class="html">HTML</span> <span class="css">CSS</span> <span class="js">Javascript</span></li>
            <li class="see-tech3"><span class="boot">Bootstrap</span></li>
            <li class="see-tech3">Individual project</li>
          </ul>
      </div>
        <br>
      <div class="parallax-container4">
        <p class="bio4">
        Currently learning<br>
        Angular.js Swift React.js<br>
        coding everyday to keep my skills sharp<br>
        #NeverStopLearning</p>
      </div>
    </div>

      <!-- nav bar  -->
        <!-- <ul class="nav">
          <li><a href="Projects/index.html.erb" >Projects</a></li>
          <li><a href="Goals/index.html.erb" >Goals</a></li>
          <li><a href="Resume/index.html.erb" >Resume</a></li>
          <li><a href="Interests/index.html.erb" >Interest</a></li>
          <li><a href="Background/index.html.erb" >Background</a></li>
          <li><a href="Contact/index.html.erb" >Contact</a></li>
        </ul> -->

      <!-- <div class="project-div">
            <div class="project1">
              <div class="profile-image">
                <img class="img-circle" src="DockItLogo.png" alt="" width="310" height="300" />
              </div>
            </div>
            <br>
            <div class="project2">
              <div class="profile-image">
                <img class="img-circle" src="DockItLogo.png" alt="" width="310" height="300" />
              </div>
            </div>
            <br>
            <div class="project3">
              <div class="profile-image">
                <img class="img-circle" src="DockItLogo.png" alt="" width="310" height="300" />
              </div>
            </div>
          </div>

          <div class="project-div2">
                <div class="project1">
                  <div class="profile-image">
                    <img class="img-circle" src="DockItLogo.png" alt="" width="310" height="300" />
                  </div>
                </div>
                <br>
                <div class="project2">
                  <div class="profile-image">
                    <img class="img-circle" src="DockItLogo.png" alt="" width="310" height="300" />
                  </div>
                </div>
                <br>
                <div class="project3">
                  <div class="profile-image">
                    <img class="img-circle" src="DockItLogo.png" alt="" width="310" height="300" />
                  </div>
                </div>
              </div>
            <br> -->

   <script type="text/javascript" src="portfolio.js"></script>
  </body>
</html>
